.whispererList {
  position: absolute;
  list-style: none;
  padding: 0;
  border-top: none;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 4px 4px;
  display: none;
  width: 100%;
  z-index: 10;
  background: white;
  z-index: 1029;
}
.whispererList li {
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
}
.whispererList li:last-child {
  border: 0;
}
.whispererList li:hover {
  cursor: pointer;
  background: #eee;
}
.whispererList--active {
  display: block;
  border: 1px solid #ccc;
  margin-top: -16px;
}
.whisperer-box {
  position: relative;
}
.formAddressInput {
  margin-bottom: 15px;
}
.formAddressInput--active {
  border-radius: 4px 4px 0 0;
}
.properStreet {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}
.properStreet input {
  background: white;
  width: 250px;
}
